# Backend
SECRET_KEY=clave_de_produccion_muy_segura
DATABASE_URL=postgresql+psycopg2://usuario:password@host:5432/accidentalidad_ctg
MODEL_PATH=modelo_riesgo.pt
OPENWEATHER_API_KEY=
ANTHROPIC_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# Frontend
REACT_APP_API_URL=https://accidentalidad-cartagena.vercel.app/api
